@media (max-width: 1000px) {
    .produto-descricao {
        padding:32px 32px 0 32px;
    }
}
@media (max-width: 650px) {
    .ajuste-produto-detalhe {
        padding:0 20px 30px 20px;
    }
    .produto-descricao {
        padding:40px 10px;
    }

    .titulo {
        padding:0;
        margin-bottom:20px;
    }
    .titulo h3 {
        font-size:22px;
    }
    .produtos {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px; 
    }
    .produtos li img {
        width:200px;
    }
}

@media (max-width: 550px) {
    .produto-descricao {
        flex-direction:column;
        padding:0 0 30px 0;
    }
    .produto-descricao img {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
    .produto-direita {
        padding:0 20px;
    }

    header {
        width: 100%;
        display:flex;
        justify-content:space-between;
    }
    .lado-direito {
        width:0;
    }

    .container-login {
        padding:92px 10px;
    }
    form {
        width:100%;
    }
}
@media (max-width: 475px) {
    .produtos li img {
        width:100%;
    }

    .ajuste-produto-detalhe {
        padding:0 5px 30px 5px;
    }

    .produto-direita h1 {
        font-size:20px;
    }
    .produto-direita p {
        font-size:14px;
    }
}